/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
    width: 100%;
}

/* COMMON */
.float-l {
    float: left;
}

.float-d {
    float: right;
}


.t-d {
    text-decoration: none;
}

.btn-blue{
    text-decoration: none;
    background-color: blue;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 0.7em 1.2em;
}

 a:hover.btn-hover{
    background-color: rgba(0, 0, 255, 0.7);
} 

.text {
    width: 30%;
    height: 30%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-45 {
    margin-bottom: 45px;
}

.btn-try {
    margin-right: 2em;
}

.mt {
    margin-top: 100px;
}
/* MENU */
.menu {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    position: fixed;
    padding: 2.5em 2em 1em 1.5em;
    z-index: 1; 
}

.menu-text > a{
    padding: 0em 1em 1em 1.5em;
    color: black;
    vertical-align: middle;
}

.menu-text > a:hover{
    border-bottom: 2px solid black;
}

/* menu left */
.dropbox-logo {
    float: left;
}

.menu-left {
    float: left;
}

/* menu right */
.menu-right{
    float: right;
}

.menu-btn{
   float: right;
}

.start-btn-blue {
    margin: 25px;
}

/* HEADER */

/* BANNER */
.banner-header  {
    height: 90vh;
    background-color: #B4D0E7;
    position: relative;
}

.banner-section-container {
    width: 80%;
    height: 90vh;
    background-color: #B4D0E7;
    margin: 0 auto;
    position: relative;
}

.banner-title{
    width: 100%;
    height: 365px;
    margin: auto;
}

 h1 {
    font-size: 5em;
    padding-top: 2em;
}

.banner-text{
    padding-top: 4.5em;
    font-size: 1.1em;
    position: relative;
}

.btn-banner {
    position: absolute;
    margin-top: 10%;
}

.arrow-banner{
    font-size: 40px;
    margin-top: 1.5rem;
    color: black;
}

 #arrow-a{
    color: inherit;
}

.banner-img > img{
    width: 65%;
    height: 65%;
    position: absolute;
    bottom: -135px;
    right: 0%;
}

.annulla-p {
    margin-top: 50px;
}

/* MAIN */

/* PLAN SECTION */
.plan-section-container {
    width: 70%;
    background-color: #FFFFFF;
    margin: auto;
    margin-right: 200px;
}

.plan-title > h2 {
    padding-top: 5.5em;
    font-size: 3em;
    font-weight:bold;
}

/* PLAN MONTH-YEAR SECTION */

 .month-year-checkbox{
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 16px;
}

.month-year-checkbox > label{
    margin-right: 1em;
}

.month-year-checkbox > input{
    vertical-align: middle;
}

/* OFFER TABLE SECTION */


.col {
    float: left;
    width: calc(100% / 3 - 90px);
    border: 2px solid lightgray;
    margin-left: 30px;
    height: 1000px;
}

.col-bottom {
    width: 84%;
    margin-left:30px;
    margin-top: 50px;
}
.plan-category-bottom {
    border: 1px solid grey;
    border-bottom: none;
    text-align: center;
    padding: 1em;
}

.col-bot-text {
    border: 1px solid grey;
    padding: 2em;
}

.margin-bottom {
    margin-bottom: 1.3em;
}

.col .title {
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid;
}

.col .padding {
    padding: 30px;
}

.col button {
    width: 100%;
    background-color: blue;
    line-height: 30px;
    color: white;
    border: 0;
    margin-bottom: 20px;
}

.btn-col-bot-right {
    float: right;
}

.col hr {
    width: 20%;
}

.check-blue {
    color: blue;
}

.buy-now {
    color: blue;
}

.buy-now-blue {
    color:inherit;
}

.or-span {
    color: black;
}

.offer-type {
    font-size: 1.5em;
    font-weight: bold;
}

.price-text {
    font-size: 1em;
}

.text-offer {
    font-size: 0.9em;
}
 
.f-small {
    font-size: 0.8em;
}

.cadence {
    color: #8A96A0;
}

/* PARTNER-DROPBOX SECTION */
.partner-section {
    width: 60%;
    margin: auto;
    margin: auto;
    margin-top: 100px;  
}

.partner {
    margin: 8em auto;
    width: 100%;
}

.partner-img {
    width: 50%;
}

.partner-text {
    width: 50%;
    padding: 3em;
}

.partner-text h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.partner-text p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

.btn-partner {
    border: 1px solid black;
    padding: .5em .8em;
    color: inherit;
}

.finds-black {
    color: black;
}

/* OPERATIONS DROPBOX-BUSINESS SECTION */
.operations-business-section {
    width: 60%;
    height: 1200px;
    margin: auto;
}

.operations-card-section-title{
    font-size: 1.8em;
}

.cards-img-text-container{
    width: calc(100% / 3);
    float: left;
}

.cards-img-text-container > img{
    width: 80%;
}

.cards-img-text-container > h5{
    font-size: 25px;
    margin-bottom: 0.8em;
}

.cards-img-text-container > p{
    width: 70%;
    font-size: 14px;
    line-height: 1.3em;
}

.first-row-operations {
    margin-top: 50px;
}

.second-row-operations {
    display: inline-block;
    margin-top: 100px;
}

/* TITLE TEAM SECTION  */
.title-team-section {
    width: 60%;
    margin: auto;
    margin-top: 160px;
}

.title-team-font {
    font-size: 2.5em;
}

/* CLIENTS SECTION */
.clients-section {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5em;
}

.clients-sx {
    width: 30%;
    height: 500px;
}

.clients-center{
    width: 40%;
    height: 500px;
    background-color: #f5f5f5;
}

.team-dx {
    width: 30%;
    height: 500px;
    background-color: blue;
}

.clients-row {
    width: 100%;
    height: calc(100% / 2);
}

.agency-object {
    width: 50%;
    height: 100%;
}

/* lef col clients */
.designit {
    position: relative;
    background-color: #a2d39b;
    border: .8em solid #d0e9cd;
}

.designit img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.arizona-state {
    position: relative;
    background-color: #61082b;
}

.arizona-state img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.university {
    position: relative;
    background-color: #0093ce;
}

.university img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.topps{
    position: relative;
    background-color: #ff1c1c;
}

.topps img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

/* center col clients */

.clients-center {
    padding: 2em 3em;
    overflow: auto;
}

.center-logo {
    width: 20%;
    padding-bottom: 3em;
    border-bottom: 0.1em solid lightgrey;
    margin-bottom: 4em;
}

/* right col clients */

.clients-dx {
    width: 30%;
    height: 500px;
}

.world-bicycle-relief {
    position: relative;
    background-color: #d5001f;
}

.world-bicycle-relief img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.hearst-corp {
    position: relative;
    background-color: #b4d0e7;
}

.hearst-corp img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.lonely-planet {
    position: relative;
    background-color: #0d2481;
}

.lonely-planet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.clear-channel {
    position: relative;
    background-color: #ffd830;
}

.clear-channel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

/* TRY FREE SECTION */
.container-try {
    width: 60%;
    margin: auto;
}

.try-free-section{
    width: 100%;
    height: 400px;
    background-color: #b4d0e7;
    position: relative;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-sx {
    width: 50%;
}

.middle-sx h2{
    font-size: 2.5em;
    color: #61082b;
}

.middle-dx a{
    font-weight: bold;
    color: black;
    padding: .5em 3em;
    background-color: white;
}

.middle-dx a:hover {
    background-color: #f1f1f1;
}

/* FAQ SECTION */
.faq-section {
    width: 60%;
    margin: auto;
    padding: 7em 0;
}

.faq-section h4 {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.faq-hover {
    display: none;
    padding-right: 10em;
    margin-top: 1em;
    color: lightgrey;
}

.question:hover .faq-hover {
    display: inline-block;
}

.question:hover .fas-def {
    display: none;
}

.question:hover .fas-hover {
    display: inline;
}

.fas-def {
    display: inline;
}

.fas-hover {
    display: none;
}

.question {
    padding: 2em;
    padding-left: 0;
    border-bottom: 1px solid lightgrey;
}

.border-faq{
    border-top: 1px solid lightgrey;
}

/* FOOTER */
footer {
    padding: 6em 15em 2em 10em;
    background-color: black;
}

.footer-container {
    width: 100%;
    margin: auto;
}

.list-container {
    position: relative;
    height: 300px;
}

.footer-list {
    width: calc(100% / 5);
}

.footer-list ul li {
    font-size: small;
    color: white;
    margin-bottom: .8em;
}

.ul-list {
    list-style-type: none;
}

.list-title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.list-white {
    color: inherit;
}

/* language section */

.language {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 2em;
    padding-right: 2em;
    border-top: 1px solid white;
}

.lang {
    font-size: small;
    color: lightgrey;
}

.font-small {
    font: small;
}

.c-g {
    color: lightgrey;
}